# Map, Filter, Reduce, Lambda & Recursion

## Tasks Today:

1) <b>Lambda Functions</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Saving to a Variable <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Multiple Inputs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Passing a Lambda into a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Returning a Lambda from a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) In-Class Exercise #1 <br>
2) <b>Map</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Map <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #2 <br>
3) <b>Filter</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Filter <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #3 <br>
4) <b>Reduce</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Reduce <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #4 <br>
5) <b>Recursion</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Implementing a Base <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Writing a Factorial Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #5 <br>
6) <b>Generators & Iterators</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Yield Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Inifinite Generator <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #6 <br>
7) <b>Exercises</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Exercise #1 - Filtering Empty Strings <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Exercise #2 - Sorting with Last Name <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Exercise #3 - Conversion to Farhenheit <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Exercise #4 - Fibonacci Sequence <br>

## Lambda Functions <br>
<p>Lambda functions... or "Anonymous Functions" are referring to inline functions with no name. The keyword lambda denotes the no name function, and executes within a single line. Without saving it to a variable; however, it is not able to be used, unless passed in either as a paramater or within list comprehension.<br>Written as "(keyword lambda) (one or more inputs) (colon) (function to be executed)"</p>

#### Syntax

#### Saving to a Variable

#### Multiple Inputs

#### Passing a Lambda into a Function

#### Returning a Lambda from a Function

#### If Statements within Lambdas

#### In-Class Exercise #1 <br>
<p>Write an anonymous function that cubes the arguments passed in and assign the anonymous function to a variable 'f'.</p>

In [1]:
f = lambda a_num : a_num ** 3
print(f(4))

64

In [2]:
sorted([2,7,324,5,2,1])

[1, 2, 2, 5, 7, 324]

In [5]:
#using lamba with sort to sort a list of dictionaries by a key from highest to lowest
k = {"name": "Kevin",
     "age": 36
    }
j = {
    "name":"John",
    "age": 41
}
d = {
    "name":"Dereck",
    "age": 32
}
b = {
    "name": "Brian",
    "age": 29
}

my_list = [k,j,d,b]
print(my_list)

print(
    sorted(my_list, key=lambda person_dict: person_dict["age"])
)

print(
    sorted(my_list, key=lambda person_dict: person_dict["age"], reverse = True)
)

[{'name': 'Kevin', 'age': 36}, {'name': 'John', 'age': 41}, {'name': 'Dereck', 'age': 32}, {'name': 'Brian', 'age': 29}]
[{'name': 'Brian', 'age': 29}, {'name': 'Dereck', 'age': 32}, {'name': 'Kevin', 'age': 36}, {'name': 'John', 'age': 41}]
[{'name': 'John', 'age': 41}, {'name': 'Kevin', 'age': 36}, {'name': 'Dereck', 'age': 32}, {'name': 'Brian', 'age': 29}]

## Map <br>
<p>The map function allows you to iterate over an entire list while running a function on each item of the list. This is why the map function works well with lambda's, because it simplifies things and you write less lines of code.<br>The syntax for a map function is "map(function to be used, list to be used)"<br>However, you must be careful, as the map function returns a map object, not a list. To turn it into a list we use the list() type conversion.</p>

#### Syntax

In [9]:
def sqaured(num, num2):
    if num < 10 and num2 < 10:
        return num**2, num2**2
    else:
        return num, num2

numbers = [4,10,3,2,6]
more_numbers = [4,11,20,3,15]

squared_nums_map = map(sqaured, numbers, more_numbers)
list(squared_nums_map)

[(16, 16), (10, 11), (3, 20), (4, 9), (6, 15)]

#### Using Lambda's with Map

In [14]:
sqaured_nums = list(map(lambda x: x**2 if x < 10 else x, numbers))
print(sqaured_nums)

[16, 10, 9, 4, 36]

In [20]:
the_result = list(map((lambda l1, l2: (l1**2, l2**2 if l1 and l2 < 10 else l1, l2)), numbers, more_numbers)) 
print(the_result)

[(16, 16, 4), (100, 10, 11), (9, 3, 20), (4, 9, 3), (36, 6, 15)]

#### In-Class Exercise #2 <br>
<p>Use the map function to double each number and minus it by one in the list by using a lambda function</p>

In [21]:
nums = [4,2,6,8]
dub_minus_one = list(map(lambda x: (x*2) -1, nums))
print(dub_minus_one)

[7, 3, 11, 15]

## Filter() <br>
<p>Filter's are similar to the map function, where you're able to pass a function argument and a list argument and filter out something from the list based on the conditions passed. Similar to the map function, it returns a filter object, so you need to type convert it to a list()</p>

#### Syntax

In [22]:
names = ["Bob","Andy","Max","Evan","Angelica"]

# We only want names that start with A

def a_names(name):
    if name[0].lower() == "a":
        return True
    else:
        return False
new_names_list = list(filter(a_names, names))
new_names_list

['Andy', 'Angelica']

#### Using Lambda's with Filter()

In [30]:
new_names_lamb = list(filter(lambda name: True if name[0].lower() == "a" else False, names))
new_names_lamb

['Andy', 'Angelica']

#### In-Class Exercise #3 <br>
<p>Filter out all the numbers that are below the mean of the list.<br><b>Hint: Import the 'statistics' module</b></p>

In [34]:
from statistics import mean 
nums = [1,44,7,223,55,3,23,58]
find_mean = list(filter(lambda l1: True if l1 <= mean(nums) else False, nums))
find_mean

[1, 44, 7, 3, 23]

## Reduce() <br>
<p>Be very careful when using this function, as of Python 3 it's been moved to the 'functools' library and no longer is a built-in function.<br>The creator of Python himself, says to just use a for loop instead.</p>

#### Syntax

In [36]:
from functools import reduce
# reduce(function, iterable)

list_1 = [2,4,6,8,10]

def subtract_nums(num1, num2):
    return num1 - num2

result = reduce(subtract_nums, list_1)
result

-26

#### Using Lambda's with Reduce()

In [39]:
l_3 = [1,10,2,30]
#x is aggregator and y is the list value
result_lamb = reduce(lambda x, y: x - y, l_3)
result_lamb

-41

#### In-Class Exercise #4 <br>
<p>Use the reduce function to multiply the numbers in the list below together with a lambda function.</p>

In [40]:
from functools import reduce

list = [1,2,3,4]

answer = reduce(lambda x, y : x * y, list)
print(answer)

24

## Recursion <br>
<p>Recursion means that a function is calling itself, so it contanstly executes until a base case is reached. It will then push the returning values back up the chain until the function is complete. A prime example of recursion is computing factorials... such that 5! (factorial) is 5*4*3*2*1 which equals 120.</p>

In [ ]:
def recursive(i):
    print("Hi")
    if i == 4:
        return
    i += 1
    
    recursive(i)
    
recursive(0)

#### Implementing a Base Case

In [42]:
def add_nums(num):
    #set Base case 
    if num <= 1:
        print("addNum(1)=1")
        return num
    else:
        print(f"add_num({num}) = {num} + add_num({num - 1})")
        return num + add_nums(num - 1)
    
add_nums(5)

add_num(5) = 5 + add_num(4)
add_num(4) = 4 + add_num(3)
add_num(3) = 3 + add_num(2)
add_num(2) = 2 + add_num(1)
addNum(1)=1

15

#### Writing a Factorial Function

In [ ]:
# 5! = 5 * 4 * 3 * 2 * 1

#### In-Class Exercise #5 <br>
<p>Write a recursive function that subtracts all numbers to the argument given.</p>

In [12]:
def subtract(num):
    if num <= 1:
        return 1
    else:
        return num - subtract(num - 1)
    
subtract(5)

3

## Generators <br>
<p>Generators are a type of iterable, like lists or tuples. They do not allow indexing, but they can still be iterated through with for loops. They are created using functions and the yield statement.</p>

#### Yield Keyword <br>
<p>The yield keyword denotes a generator, it doesn't return so it won't leave the function and reset all variables in the function scope, instead it yields the number back to the caller.</p>

#### Infinite Generator

In [ ]:
# bad, never create infinite loops

#### In-Class Exercise #6 <br>
<p>Create a generator that takes a number argument and yields that number squared, then prints each number squared until zero is reached.</p>

In [13]:
def squared(start, stop , step = num**2):
    while start < stop:
        yield start
        start += stop
    
for ind in a_range(0,15):
    print(ind)

NameError: name 'num' is not defined

# Exercises

### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

`Output: ['Argentina', 'San Diego', 'Boston', 'New York']`

In [53]:
places = [" ","Argentina", " ", "San Diego","","  ","","Boston","New York"]
places = list(filter(lambda list_obj: False if list_obj == "" or list_obj == " " else True, places))
places

TypeError: 'list' object is not callable

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name...<br><b>Hint: Use the ".sort()" method and access the key"</b></p>

`Output: ['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']`

In [61]:
author = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield","David hassELHOFF","Gary A.J. Bernstein"]
print(*sorted(author, key=lambda last_name: last_name.split(" ")[-1]),sep = '\n')

Gary A.J. Bernstein
Joel Carter
Andrew P. Garfield
Victor aNisimov
David hassELHOFF

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

`Output: [('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]
`

In [69]:
# F = (9/5)*C + 32
places = [('Nashua',32),("Boston",12),("Los Angelos",44),("Miami",29)]

convert_to_farhenheit = list(map(lambda temp_list: (9/5) * temp_list[1] + 32), places)
print(convert_to_farhenheit)

TypeError: map() must have at least two arguments.

### Exercise #4 <br>
<p>Write a recursion function to perform the fibonacci sequence up to the number passed in.</p>

`Output for fib(5) => 
Iteration 0: 1
Iteration 1: 1
Iteration 2: 2
Iteration 3: 3
Iteration 4: 5
Iteration 5: 8`

In [63]:
def fibonacci(num):
    if num <= 1:
        return num
    return fibonacci(num - 1) + fibonacci(num - 2)

fibonacci(10)

55